.containers{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
}
.middle-items{
    flex: 1;
}
.right-items{
  display: flex;
  gap: 10px;
}
.menu{
  display: none;
}

.logo{
  width: 250px;
  height: 100px;
}

.flag{
    width: 40px;
    height: 30px;
    margin: 0px;
}

.left-items{
    flex: 0.3;
  }
@media only screen and (max-width: 1131px) {
  
  .middle-items,.right-items{
     display: none;
  }
  .left-items{
    flex: 0.5;
  }
  .menu{
    display: block;
  }

}